@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Raleway, sans-serif;
    color: #404028;
}

/* headings and logos */
h1 {
    font-family: 'Poiret One', sans-serif;
    color: #404028;
}

#logo {
    float: left;
    font-size: 200%;
    margin-left: 30px;
}

#logo a {
    text-decoration: none;
}

/* end of headings and logos */

/* navigation links */

#menu, #logo {
    line-height: 75px;
}

#menu ul {
    float: right;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#menu a:hover {
    border-bottom: 1px #404028 solid;
}

#menu .active {
    border-bottom: 1px #404028 solid;
}

/* end of navigation links */

/* hero image and overlay text */

#hero-container {
    clear: both;
    height: 800px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background: url('../images/wood.jpg') no-repeat center center;
}

#hero-image {
    height: 800px;
    width: 100%;
    background: url('../images/flower-bride.jpeg') no-repeat center center;
}

#overlay-text, #overlay-text h2, #overlay-text p {
    color: #fafafa;
}

#overlay-text {
    font-size: 130%;
    font-family: 'Poiret One', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 220px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(191, 165, 166, .9);

    bottom: 30px;
    right: 300px;

    position: absolute;
}

/* end of hero image and overlay text */

/* footer and social media links */
 
footer {
    padding: 0;
    margin: 0;
    height: 100px;
    position: relative; 
    bottom: 0;
}

footer p {
    text-align: center;
    letter-spacing: 4px;
    float: right;
    display: block;
}

.social-networks {
    clear: right;
    text-align: center;
}

.social-networks li {
    display: inline; 
}

.social-networks i {
    font-size: 150%;
    margin-left: 1%;
    padding-left: 5%;
    color: #404028;
}