@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    color: #404028;
    font-family: 'Raleway', sans-serif;
}

body {
    top: 150px;
}

/* headings and logos */

h1 {
    font-family: 'Poiret One', sans-serif;
}

.logo {
    float: left;
    font-size: 200%;
    margin-left: 30px;
}

.logo a {
    text-decoration: none;
}

/* end of headings and logos */

/* navigation links */

.menu, .logo {
    line-height: 75px;
}

.menu ul {
    float: right;
}

.menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

.menu a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.menu a:hover {
    border-bottom: 1px #404028 solid;
}

.menu .active {
    border-bottom: 1px #404028 solid;
}

/* end of navigation links */

/* hero image and overlay text */

#hero-image-container {
    height: auto;
    width: 100%;
    overflow: hidden;
    margin: auto;
}

#hero-image {
    height: 800px;
    width: 849px;
    margin: 30px auto 30px auto;
    border-radius: 20px;
    background: url('../images/flower-bride.jpeg') no-repeat center center/cover;
    position: relative;
}

#overlay-text h2, #overlay-text p {
    font-family: 'Poiret One', sans-serif;
    color: #FAFAFA;
    background-color: #404028;
}

#overlay-text {
    font-size: 130%;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 400px;
    height: 220px;
    border-radius: 20px;
    padding-top: 40px;
    padding-left: 10px;
    right: 0%;
    bottom: 0%;
    margin: auto;
    z-index: 100;
    position: absolute;
    background-color: #404028;
    opacity: 0.9;
}

.contact-button {
    float: right;
    text-decoration: none;
    color: #fafafa;
    font-family: 'Poiret One', sans-serif;
    text-transform: none;
    font-weight: bold;
    background-color: #797861;
    padding: 5px;
    border-radius: 10px;
    letter-spacing: normal;
    position: absolute;
    bottom: 1%;
    left: 1%;
}

.contact-button:hover {
    transform: scale(1.2);
}

/* end of hero image and overlay text */

/* About section images and text boxes*/

#flex-container-top, #flex-container-bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#about-top-left, #about-bottom-right {
    width: 750px;
    height: auto;
    padding: 20px;
    border-radius: 20px;
    border: 2px #404028 solid;
    box-shadow: 20px 20px 50px;
    box-sizing: border-box;
}

#about-top-left h2, #about-bottom-right h2 {
    font-family: 'Poiret One', sans-serif;
    font-size: 2em;
    text-align: center;
}

#about-bottom-right h3 {
    font-family: 'Poiret One', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

#about-bottom-right h4 {
    font-weight: bold;
}

#about-top-left p, #about-bottom-right p {
    padding: 20px 5px 20px 5px;
}

#about-top-left {
    margin-top: 30px;
} 

#about-top-left a, #about-bottom-right a {
    text-decoration: underline;
    color: #404028;
    font-weight: bold;
    font-style: italic;
}

#about-bottom-right {
    margin-top: 30px;
    margin-bottom: 30px;
} 

#about-bottom-right a {
    padding-top: 30px;
}

#image-top-right, #image-bottom-left {
    width: 750px;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#image-top-right img, #image-bottom-left img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
}

#kevyn-aucion-quote {
    font-family: 'Poiret One', sans-serif;
    font-size: 1.5em;
    text-align: center;
}

 /*end of about page images and text boxes */

/* photo gallery */

#page-banner-gallery {
    height: auto;
    width: 100%;
    overflow: hidden;
    margin: auto;
}

#gallery-heading h2 {
    color: #404028;
    text-transform: uppercase;
    font-family: 'Poiret One', sans-serif;
    letter-spacing: 4px;
}

#gallery-heading {
    width: 600px;
    height: auto;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 2em;
    text-align: center;
    opacity: 0.8;
}

#gallery-container {
    width: 80%;
    margin: auto; 
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-flow: column wrap;
    height: 2600px;
}

#gallery-container > img {
    width: 24%;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 5px;
}

.zoom:hover {
    transform: scale(1.4);
    transition: 1s ease-in-out;
}

/* end of photo gallery */

/* Price List */

#price-list, #contact-form {
    height: auto;
    width: 600px;
    background-color: #404028;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
    border-radius: 20px;
    padding-bottom: 20px;
}

#price-list h2 {
    font-family: 'Poiret One', sans-serif;
    padding: 20px;
    font-size: 3em;
    color: #fafafa;
}

#price-list h3 {
    font-family: 'Poiret One', sans-serif;
    margin-bottom: 5px;
    font-size: 2em;
    color:#fafafa;
}

#price-list h4 {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 5px;
    color: #fafafa;
}

#price-list p {
    margin-bottom: 25px;
    color: #fafafa;
}

.enquire-button {
    text-decoration: none;
    color: #fafafa;
    font-family: 'Poiret One', sans-serif;
    font-size: 2em;
    font-weight: bold;
    background-color: #797861;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.enquire-button:hover {
    transform: scale(1.2);
    transition: 1s ease-in-out;
}

/* End of Price-List page*/

/* Contact Page*/

#contact-form h2 {
    font-family: 'Poiret One', sans-serif;
    padding: 20px;
    text-align: center;
    font-size: 3em;
    color: #fafafa;
}

#contact-form label {
    float: left;
    text-align: right;
    margin: 10px 50px;
    display: inline-block;
    color: #fafafa;
}

.input-field { 
    background-color: #404028;
    color: #fafafa;
    opacity: 0.5;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #797861;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    width: 500px;
    margin-left: 50px;
    margin-right: 50px;
}

textarea {
    width: 80%;
    background-color: #404028;
    border: 1px solid #797861;
    color: #fafafa;
    border-radius: 4px;
    font-family: 'Raleway', sans-serif;
    color: #404028;
    width: 500px;
    margin-left: 50px;
    margin-right: 50px;
}

#time, #date, #quantity {
    color: #fafafa;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fafafa;
    opacity: 1; /* Firefox */
  }

input:focus, textarea:focus {
    background-color:#797861;
    outline: 1px solid #404028;
    color:#fafafa;
}

/* end of Contact Page */

/* Thank-you Page */

#thank-you-page-content, #error-page {
    height: auto;
    width: 600px;
    background-color: #404028;
    margin: 30px auto;
    font-size: 2em;
    text-align: center;
    border-radius: 20px;
}

#thank-you-message, #error-message {
    padding: 30px;
    margin: 30px;
}

#thank-you-message h2, #thank-you-message p, #error-message h2, #error-message p {
    color: #fafafa;
    font-family: 'Poiret One', sans-serif;
    padding: 5px;
    margin-bottom: 5px;
}

#thank-you-image img, #error-image img {
    width: 500px;
    height: auto;
    margin: auto;
    border-radius: 20px;
}

#pip p {
    font-family: 'Indie Flower', sans-serif;
    font-size: 1.2em;
    color: #fafafa;
}

#error-message a {
    color: #fafafa;
    text-decoration: none; 
    border-bottom: 1px #fafafa solid;
    text-transform: uppercase;
}

.photo-credit {
    font-size: 0.4em;
    font-family: 'Raleway', sans-serif;
    color: #fafafa;
}
/* End of Request Page */

/* footer and social media links */
 
footer {
    padding: 0;
    margin: 0;
    height: 100px;
    width: 100%;
    bottom: 0;
}

.contact-info {
    margin: auto;
    text-align: center;
    letter-spacing: 4px;
    display: block;
    padding: 5px;
}

.contact-info p {
    padding: 5px;
}


.social-networks {
    text-align: center;
    padding-top: 30px;
}

.social-networks li {
    display: inline; 
}

.social-networks i {
    font-size: 150%;
    padding: 20px;
    color: #404028;
}

/* Media Queries */

@media screen and (max-width: 1600px) {

#flex-container-top, #flex-container-bottom {
    width: 80%;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px auto 20px auto;
}

#about-top-left, #about-bottom-right, #image-top-right, #image-bottom-left {
    margin: 20px auto 20px auto;
    width: 80%;
    box-sizing: border-box;
}

#image-top-right {
    padding: none;
}
}

@media screen and (max-width: 1062px) {

#hero-image-container {
    width: 100%;
}
#hero-image {
    width: 80%;
}

#logo {
    line-height: 50px;
    font-size: 150%;
}

.menu a {
    font-size: 75%;
}

@media screen and (max-width: 992px) {

#hero-image {
    width: 80%;
}
   
#about-top-left, #about-bottom-right, #image-top-right, #image-bottom-left {
    width: 100%;
}

@media screen and (max-width: 768px) {

.menu, .logo {
     line-height: 50px;
    }
    
.logo {
    font-size: 125%;
    margin-right: 30px;
}

@media screen and (max-width: 600px) {

.menu ul {
    float: left;
    margin-left: 30px;
}

.menu {
    line-height: 25px;
}

#hero-image {
    width: 100%;
    padding-top: 5px;
    border-radius: 0%;
    margin-bottom: 0;
}

#overlay-text {
    width: 100%;
    border-radius: 0%;
    text-align: center;
    font-size: 100%;
    height: 150px;
}

.contact-button {
    float: unset;
    bottom: 5%;
    left: 45%;
}

#flex-container-top, #flex-container-bottom {
    width: 100%;
    margin: 0;
}

#about-top-left, #about-bottom-right {
    margin: 0;
    border-radius: 0;
    box-shadow: none;
}

#image-top-right, #image-bottom-left {
    display: none;
}

#about-bottom-right {
    margin-bottom: 30px;
}
}

@media screen and (max-width: 433px) {

.menu li {
    margin-right: 15px;
    font-size: 80%;
}

#hero-image {
    height: 440px;
}
#overlay-text {
    height: 120px;
    padding-top: 20px;
    left: 39%;
    bottom: 2%;
}

}

/* Media Queries for Responsive Gallery */
/*@media screen and (max-width: 1200px) {


#gallery-container > img {
    width: 31%
}
}

@media screen and (max-width: 992px) {


#gallery-container > img {
    width: 
}
}*/

@media screen and (max-width: 1528px) {

#gallery-container {
    height: 1857px;
 }
}

@media screen and (max-width: 1421px) {

#gallery-container {
    height: 1740px;
}
}

@media screen and (max-width: 1333px) {

#gallery-container {
    height: 1640;
}
}

@media screen and (max-width: 1249px) {

#gallery-container {
    height: 1528px;
}
}

@media screen and (max-width: 1160px) {

#gallery-container {
    height: 2650px;
}

#gallery-container > img {
    width: 33%;
}
}

@media screen and (max-width: 1106px) {

#gallery-container {
    height: 2524px;
}
}

@media screen and (max-width: 1047px) {

#gallery-container {
    height: 2394px;
}
}

@media screen and (max-width: 995px) {

#gallery-container {
    height: 2283px;
}
}

@media screen and (max-width: 955px) {

#gallery-container {
    height: 4583px;
}

#gallery-container > img {
    width: 50%;
}
}

@media screen and (max-width: 882px) {

#gallery-container {
    height: 4241px;
}
}

@media screen and (max-width: 813px) {

#gallery-container {
    height: 3917px;
}
}

@media screen and (max-width: 749px) {

#gallery-container {
    height: 3618px;
}
}

@media screen and (max-width: 690px) {

#gallery-container {
    height: 3342px;
}
}

@media screen and (max-width: 636px) {

#gallery-container {
    height: 3089px;
}
}

@media screen and (max-width: 588px) {

#gallery-container {
    height: fit-content;
}

#gallery-container > img {
    width: 100%;
}
}

/* End of Media Queries for Responsive Gallery*/


/* End of Media Queries */